.mainContainer {
    height: 42em;
}

.cards {
    gap: 10px;
    max-height: 25em;
    overflow: auto;
    padding: 20px;
}

.card {
    position: relative;
    width: 106px;
    height: 154px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    backface-visibility: hidden;
}

.front {
    // background-image: url('../../assets/cards/1x/back-black.png');
    /* additional front styles here */
}

.back {
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}